<br>
<div class="page-wrap h-full slate" [@slideInOut]="emailvalide ? 'versout' : 'in'" style="display:none;justify-content: center"
     >
  <!--[@slideInOut]="emailvalide ? 'versout' : 'in'"-->
 <div class="session-form-hold col-8">
   <!-- Content for when emailvalide is false -->
    <mat-progress-bar mode="determinate" class="col-10 session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pt-8 pb-16">
          <img width="100px" src="assets/images/Logo.ico" alt="">
          <p class="text-muted m-0">Réinitialiser le mot du passe</p>
          <p>Veuillez Insérer votre Email pour pouvoir Réinitialiser le mot du passe </p>
        </div>

        <form [formGroup]="restForm" style="display: flex; flex-direction: column; align-items: center;">
          <div class="col-8">
            <mat-form-field class="full-width col-12">
              <input matInput name="Email" formControlName="email" placeholder="Email">
            </mat-form-field>
          </div>

          <button mat-raised-button class="mat-primary full-width mb-16" (click)="suivant()"
                  [disabled]="restForm.hasError('required','email') ">Suivant
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="page-wrap h-full slate" [@slideInOut]="emailvalide  ?  verified ? 'versout' : 'in' : 'out'"  style="      flex-direction: column;
    align-items: center;display:flex;justify-content: center"
   >
  <mat-card class="example-card"  style="width: 67%;border: 1px solid red;background-color: #ff00005c;" *ngIf="errMsg!=='' && errMsg!==undefined">
    <mat-card-content style="display: flex;
    justify-content: space-between;align-items: center;">
      <div style="    display: flex;
    align-items: center;">
      <mat-icon class="example-icon" color="warn">error</mat-icon>
      <span  class="example-message">{{errMsg}}!</span>
      </div>
      <button mat-icon-button class="example-close-button" aria-label="Close" (click)="errMsg=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
  <div class="session-form-hold col-8">
    <!-- Content for when emailvalide is true -->
    <mat-progress-bar mode="determinate" class="col-10 session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pt-8 pb-16">
          <img width="100px" src="assets/images/Logo.ico" alt="">
          <p class="text-muted m-0">Réinitialiser le mot du passe</p>
          <p>Un Email est envoyé qui contient le code pour Réinitialiser le mot du passe</p>
          <div class="timer" *ngIf="!isTimeUp">
            <p>S'il Vout plaît attendre : </p>
            <p>Countdown Timer: {{ countdown$ | async }}</p>
          </div>

          <div *ngIf="isTimeUp">
          <a (click)="suivant()" style=" cursor:pointer" class="mat-primary text-center full-width">Renvoyer le Code du vérification</a>
          </div>
        </div>

        <form [formGroup]="restForm"
              style="display: flex; flex-direction: column; align-items: center;">
          <div class="col-8">
            <mat-form-field class="full-width col-12">
              <input matInput name="Code" formControlName="code" placeholder="Code">
            </mat-form-field>
          </div>

          <div class="col-12" style="display:flex; justify-content: space-evenly;">
            <button mat-raised-button class="mat-primary full-width mb-16"  [disabled]="!isTimeUp" (click)="precedent()">Précédent</button>
            <button mat-raised-button class="mat-primary full-width mb-16"
                    [disabled]="restForm.hasError('required','code') " (click)="reset()">Vérifier
            </button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="page-wrap h-full slate" style="display:flex;justify-content: center"
     [@slideInOut]="emailvalide &&  verified ? 'in' : 'out'">
  <div class="session-form-hold col-8">
    <!-- Content for when emailvalide is true -->
    <mat-progress-bar mode="determinate" class="col-10 session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pt-8 pb-16">
          <img width="100px" src="assets/images/Logo.ico" alt="">
          <p class="text-muted m-0">Réinitialiser le mot du passe</p>
          <p>veiullez taper votre nouveau mot du passe </p>


        </div>

        <form [formGroup]="newPasswordForm" (ngSubmit)="change()"
              style="display: flex; flex-direction: column; align-items: center;">
          <div class="col-8">
            <mat-form-field class="full-width col-12">
              <input matInput name="newPassword" formControlName="newPassword" placeholder="Nouveau Mot du passe">
            </mat-form-field>
            <mat-form-field class="full-width col-12">
              <input matInput name="newPasswordrepeated" formControlName="newPasswordrepeated" placeholder="Répeter Nouveau Mot du passe">
            </mat-form-field>
          </div>

          <div class="col-12" style="display:flex; justify-content: space-evenly;">
            <button mat-raised-button class="mat-primary full-width mb-16"  [disabled]="!this.newPasswordForm.valid" (click)="change()">Précédent</button>

          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

