<div
  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
>
  <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full max-w-full flex-grow flex-1">

        <div class="page-content">
          <div class="form-v6-content">
            <!--    <div class="form-left">-->
            <!--      <img src="images/form-v6.jpg" alt="form">-->
            <!--    </div>-->
            <form [formGroup]="form"  class="form-detail" style="margin-top: -150px;margin-bottom: -234px;">
              <h2>Buy or Sell Currency</h2>

              <!-- Première ligne avec une liste déroulante -->
              <div style="display: contents;justify-content: center;">
                <mat-form-field >
                  <mat-label  style="color:black">Type</mat-label>
                  <mat-select [value]="this.mode[0]"  (valueChange)="h0($event)">
                    <mat-option  *ngFor="let m of mode" [value]="m">
                      {{ m }}
                    </mat-option>

                  </mat-select>
                </mat-form-field>
              </div>

              <!-- Deuxième ligne avec deux listes déroulantes et un champ d'entrée -->
              <div class="row" >
                <div class="col-md-5">
                <mat-form-field style="width: 150px;">
                  <mat-label  style="color:black">Comptes Bancaires</mat-label>
                  <mat-select [disabled]="input_Compte" [value]="accountNumber"   (valueChange)="h1($event)"  >
                    <mat-option  *ngFor="let account of listcomptes" [value]="account">
                      {{ account }}
                    </mat-option>

                  </mat-select>
                </mat-form-field>

                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">


                <mat-form-field style="width: 150px;" >
                  <mat-label  style="color:black">Currency</mat-label>
                  <mat-select [disabled]="input_currency" [value]="this.cuurency"   (valueChange)="h2($event)">
                    <mat-option  *ngFor="let account of Currenciess" [value]="account">
                      {{ account }}
                    </mat-option>

                  </mat-select>
                </mat-form-field>
                </div>


              </div>
              <div class="row col" *ngIf="this.datas_CompteBancaire">
                <p style="color:black" > balance:{{ Math.floor(datas_CompteBancaire.balance * 1000) / 1000}} TND</p>
              </div>
              <div class="form-row" style="display: flex;
    align-items: center;">
                <input type="number"     id="input1" formControlName="input1" class="input-text" placeholder="Amount" (input)="h3($event)"  required>
             <p style="color:black">{{cuurency}}</p>
              </div>
              <div *ngIf=" this.meth==='Buy' && this.cuurency !=null && this.selectedRate!=null && valueInDinar!=0 && datas_CompteBancaire!=null">
                <p style="color:black">{{this.meth}}:{{valueInDinar}}</p>

              </div>
              <div *ngIf=" this.meth==='Sell' && this.objWallet !=null">
                <p style="color:black">You have:{{this.objWallet.balance}}{{this.objWallet.currency}}</p>

              </div>
              <div *ngIf=" this.meth==='Buy' && supthanbalance">
                <p style="color:red">Error Sold Insufficent</p>

              </div>
              <div *ngIf=" this.meth==='Sell' && supthanbalance">
                <p style="color:red">Error Dépassement du Balance In Wallet </p>

              </div>

              <!-- Troisième ligne avec un bouton de validation -->
              <div class="form-row-last">
                <button mat-raised-button class="mat-primary full-width mb-16" (click)="onSubmit()" [disabled]="!(this.cuurency!==null && this.datas_CompteBancaire!==null && this.form.get('input1')?.value !=0) || supthanbalance ">Faire</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


















