<br>
<div class="page-wrap h-full slate" style="display:flex;justify-content: center">
  <div class="session-form-hold col-8" >
    <mat-progress-bar mode="determinate" class=" col-10 session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pt-8 pb-16">
          <img width="100px" src="assets/images/Logo.ico" alt="">
          <p class="text-muted m-0">Sign in to your account</p>
        </div>

        <p *ngIf="errorMsg" class="text-center"><small class="text-red">{{errorMsg}}</small></p>

        <form [formGroup]="signinForm" (ngSubmit)="signin()" style="    display: flex;
    flex-direction: column;
    align-items: center;">
          <div class="col-8">
            <mat-form-field class="full-width col-12 ">
              <input
                matInput
                name="username"
                formControlName="username"
                placeholder="Username"
                value="">
            </mat-form-field>
<!--            <small-->
<!--              *ngIf="signinForm.controls['username'].hasError('required') && show_Error"-->
<!--              class="form-error-msg"> Username is required </small>-->
          </div>

          <div  class="col-8">
            <mat-form-field class="full-width col-12 ">
              <input
                type="password"
                name="password"
                matInput
                formControlName="password"
              placeholder="Password"
              value="">
            </mat-form-field>
<!--            <small-->
<!--              *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched"-->
<!--              class="form-error-msg"> Password is required </small>-->
          </div>

          <div class="pb-16">
            <mat-checkbox
              name="rememberMe"
              formControlName="rememberMe"
              class="pb-16">Remember this computer</mat-checkbox>
          </div>

          <button mat-raised-button class="mat-primary full-width mb-16" [disabled]="signinForm.invalid">Sign in</button>
          <div class="text-center" style="display: flex;
    flex-direction: column;">
            <a [routerLink]="'/reset'" class="mat-primary text-center full-width">Forgot password</a>

          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

