<br>
<div class="page-wrap h-full slate" style="display:flex;justify-content: center">
  <div class="session-form-hold col-8" >
    <mat-progress-bar mode="determinate" class=" col-10 session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pt-8 pb-12" style="    display: flex;
    flex-direction: column;
    align-items: center;">
          <img width="100px" src="assets/images/Logo.ico" alt="">
          <p class="text-muted m-0">Sign in to your account</p>
        </div>
        <div style="    display: flex;
    justify-content: center;">
        <div  [ngClass]="Errror ? 'DivError' : ''" class="DivContent col-8" *ngIf="Errror" >
          <h4 class="MsgError text-center"  *ngIf="errorMsg" >{{errorMsg}}</h4>
          <i   class=" IconError fa fa-times" aria-hidden="true" (click)="hide()"></i>
        </div>
        </div>

<br>
        <form [formGroup]="signinForm" (ngSubmit)="signin()" style="    display: flex;
    flex-direction: column;
    align-items: center;">
          <div class="col-8">
            <mat-form-field class="full-width col-12 ">
              <input
                matInput
                name="username"
                formControlName="username"
                placeholder="Numéro d'Identification"
                value="">
            </mat-form-field>
<!--            <small-->
<!--              *ngIf="signinForm.controls['username'].hasError('required') && show_Error"-->
<!--              class="form-error-msg"> Username is required </small>-->
          </div>

          <div  class="col-8">
            <mat-form-field class="full-width col-12 ">
              <input
                type="password"
                name="password"
                matInput
                formControlName="password"
              placeholder="Password"
              value="">
            </mat-form-field>
<!--            <small-->
<!--              *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched"-->
<!--              class="form-error-msg"> Password is required </small>-->
          </div>

          <div class="pb-8">
            <mat-checkbox
              name="rememberMe"
              formControlName="rememberMe"
              class="pb-12">Remember this Account</mat-checkbox>
          </div>
<div class="pb-2">
          <button mat-raised-button class="mat-primary v full-width mb-16 " style="cursor: pointer" [disabled]="!captchaSuccess || signinForm.invalid">Sign in</button>
</div>
            <div class="11">
            <ngx-recaptcha2
                    (reset)="handleReset()"
                    (expire)="handleExpire()"
                    (load)="handleLoad()"
                    (success)="handleSuccess($event)"
                    [siteKey]="'6LeZExAqAAAAABHwUSNZb4ZhjDG9Inz7GbwGXqX9'"
                    [theme]="'light'"
                    [size]="'normal'"
                    [type]="'image'">
            </ngx-recaptcha2>
            </div>
          <div class="text-center" style="display: flex;flex-direction: column;">
            <a [routerLink]="'/reset'" class="mat-primary text-center full-width" style="color: blue"><u>Forgot password</u></a>

          </div>

<!--          <ngx-recaptcha [(ngModel)]="captchaResponse" (captchaResponse)="handleCaptcha($event)"></ngx-recaptcha>-->
<!--          <re-captcha (resolved)="handleCaptcha($event)"></re-captcha>-->

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

