<nav *ngIf="this.CookieService.get('token')" >
    <div class="logo" >
        <img style="width: 50px;height: 50px" src="assets/images/Bank.png" alt="logo" />
        <h1 style="padding: 0px ;margin: 0px">BankFx</h1>
    </div>
    <ul style="margin: 0px;    padding-right: 30%;">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
        <li>
            <a href="#">Contact Us</a>
        </li>
    </ul>
    <div  class="user-logo-nav col " >
        <div style="display: flex; flex-direction: row;align-items: center;">
          <mat-icon fontIcon="person" ></mat-icon>
<!--        <img style="width: 50px;height: 50px" src="assets/images/userlogo.png" alt="logo" />-->
<!--        <img style="width: 50px;height: 50px" [src]="this.CookieService.get('image_data')" alt="User" />-->

        <p style="padding-left: 1% ;margin: 0px;margin-right: -10%"> {{this.CookieService.get('first_name')+" "+this.CookieService.get('last_name')}} </p>
          <div class="menu-container" (mouseenter)="display_menu=true" (focus)="display_menu=false"  >
          <span  class="menu-user" ><i class="fa fa-angle-down" aria-hidden="true"></i></span>

              <ul  (mouseleave)="display_menu=false" class="menu" [ngClass]="display_menu?'shown-menu':'hidden-menu'" >
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">Services</a>
                </li>
                <li>
                  <a href="#">Blog</a>
                </li>
                <li>
                  <a href="#">Contact Us</a>
                </li>
              </ul>

        </div>
        </div>
            <mat-icon class="Icon-Hovered" fontIcon="logout" (click)="logout()" ></mat-icon>
    </div>
    <div [ngClass]="this.nav?'hamburger-active':'hamburger'"  (click)="toggleNav()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
</nav>





<div class="menubar" [ngClass]="this.nav?'active':''"  (focusin)="this.toggleNav()">
    <span   class="iconss" (click)="toggleNav()" ><i class=" fas fa-times"></i>
</span>

        <div class="row-12 col-8" style="display: flex; position: relative;bottom: 50%;
    align-items: center;
justify-content: space-around;">
                <div  style="display: flex;
    align-items: center;  position:relative;    right: 20%; ">
                  <mat-icon fontIcon="person" ></mat-icon>
            <!--        <img style="width: 50px;height: 50px" [src]="this.CookieService.get('image_data')" alt="User" />-->
            <h1 class="sidee" style="padding-left: 1% ;margin: 0px;margin-right: -10%"> {{this.CookieService.get('first_name')+" "+this.CookieService.get('last_name')}} </h1>
            </div>
                <mat-icon class="Icon-Hovered" fontIcon="logout" (click)="logout()" ></mat-icon>
    </div>
    <ul style="position: relative;bottom: 25%">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
        <li>
            <a href="#">Contact Us</a>
        </li>
    </ul>
</div>
<router-outlet ></router-outlet>
