@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
.iconss {
position: absolute;
left: 95%;
bottom: 95%;
cursor: pointer;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

nav {
    padding: 5px 5%;
    display: flex;

    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1;
    justify-content: space-between;
}
nav .logo {
    display: flex;
    align-items: center;
}
nav .logo img {
    height: 25px;
    width: auto;
    margin-right: 10px;
}
nav .logo h1 {
    font-size: 1.1rem;
    background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-left: 1.5rem;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 95%;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #f5f5f5;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 1px;
    background-color: #1f1f1f;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
}
.hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
    width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
}

.menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(255, 255, 255);
    transition: all 0.5s ease-in;
    z-index: 2;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;

}
.active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
    padding: 0;
    list-style: none;
}
.menubar ul li {
    margin-bottom: 32px;
}

.menubar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 95%;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
}

.menubar ul li a:hover {
    background-color: #f5f5f5;
}
.user-logo-nav {
      display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
@media screen and (max-width: 790px) {
    .nav {
        display:flex !important;
        justify-content: space-between !important;
    }
    .hamburger {
        display: block;
    }
    nav ul {
        display: none;
    }
    .user-logo-nav {
        display: none;
    }
    .hovered {
      display: none !important;
    }
}
.Icon-Hovered {
    cursor: pointer !important;
    position: relative;
    left: 5%;
    transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1), color 0.5s ease-in;
    transform-origin: center; /* Ensures scaling from the center */
}
.Icon-Hovered:hover {
    color: #b927fc; /* New color on hover */
    transform: scale(1.2); /* Scale up to 120% on hover */
    font-size: 175%;

}



.sidee {
    background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu-container {
.menu-user {
  position: relative;
  cursor: pointer !important;
  left: 150%;

}
}

.hidden-menu {
  display: none !important;

}
.shown-menu {
  display: block !important;

}
.menu {

  transition: max-height 3s ease;
  position: absolute;
  top:12%;
  list-style-type: none;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 150px;
  right: 5%;
  padding-left: 0px;

}
.menu:hover {
  display : block !important;
}
  /*.menu-container {*/

  /*}*/
.menu li {
  margin-bottom: 10px;
}
.menu li a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
}
.menu li a:hover {
  background-color: #f0f0f0;
}


.Meeenu {
  border: outset;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;

}
.A {
  position: relative;
  z-index: 1;
}
.Meeenu2 {
  border: 3px outset rgb(128, 128, 128);
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.hovered {
  background-color: #2C3E50;
  width: 5.5%;
  height: 50px;
  cursor : pointer;
  border-radius: 6px;
}
.A:hover {
  background: #ab1919 !important;
  position: relative;
  padding-top: 21% !important;
  padding-bottom: 24% !important;

}


/*.A:hover + .hovered {*/
/*  background: #ab1919 !important; !* Change hovered's background color when A is hovered *!*/
/*}*/



/*.hovered:hover {*/
/*  --hovered-background: #ab1919 !important; !* Change hovered's background color on hover *!*/
/*}*/
/*.A:hover + .hovered {*/
/*  background-color: #ab1919 !important;*/

/*}*/
/*.A:hover  {*/
/*  --hovered-background: #ab1919!important;*/
/*  background-color: #ab1919!important;*/
/*}*/
/*.hovered:hover {*/
/*  background-color:var(--hovered-background);*/
/*}*/
