<br>
<div
  style="    display: flex;
    flex-direction: column;
    align-items: center;">
<div class="client-details"
     style="    padding-left: 20px;
    padding-right: 0px;">
  <div style="    display: flex;
    justify-content: center;">
  <h1><b>Client Details</b></h1>
  </div>
  <div style="display: flex">

    <img *ngIf="client['image64']!==null && client['image64']!==undefined" class="client-image" [src]="client.image64" alt="Client Image" >
    <img *ngIf="client['image64']===null && client['image64']===undefined" class="client-image" src="/assets/images/userlogo.png" alt="Default Image">

  <div style="    display: flex;
    flex-direction: column;
    justify-content: space-around;margin-left: 10px;">
  <div class="detail-item;" >
    <label>ID:</label>
    <span>{{ client.id }}</span>
  </div>

  <div class="detail-item">
    <label>Last Name:</label>
    <span>{{ client.last_name }}</span>
  </div>

  <div class="detail-item">
    <label>First Name:</label>
    <span>{{ client.first_name }}</span>
  </div>

  <div class="detail-item">
    <label>Address:</label>
    <span>{{ client.address }}</span>
  </div>

  <div class="detail-item">
    <label>Phone:</label>
    <span>{{ client.phone }}</span>
  </div>

  <div class="detail-item">
    <label>Email:</label>
    <span>{{ client.email }}</span>
  </div>

  <div class="detail-item">
    <label>Date of Birth:</label>
    <span>{{ client.date_of_birth }}</span>
  </div>

  <div class="detail-item">
    <label>Sex:</label>
    <span>{{ client.sexe }}</span>
  </div>

  <div class="detail-item">
    <label>Date Added:</label>
    <span>{{ client.date_d_ajout | date: 'medium' }}</span>
  </div>



  <div class="detail-item">
    <label>Marital Status:</label>
    <span>{{ client.etatCivil }}</span>
  </div>

  <div class="detail-item">
    <label>Employment Status:</label>
    <span>{{ client.statutEmploi }}</span>
  </div>

  <div *ngIf="client.reclamations && client.reclamations.length > 0" class="detail-item">
    <label>Reclamations:</label>
    <ul>
      <li *ngFor="let reclamation of client.reclamations">
        {{ reclamation.description }} ({{ reclamation.date | date: 'medium' }})
      </li>
    </ul>
  </div>

  <div *ngIf="client.transactions && client.transactions.length > 0" class="detail-item">
    <label>Transactions:</label>
    <ul>
      <li *ngFor="let transaction of client.transactions">
        {{ transaction.type }} - {{ transaction.amount | currency }}
      </li>
    </ul>
  </div>

  <div *ngIf="client.comptes && client.comptes.length > 0" class="detail-item">
    <label>Bank Accounts:</label>
    <ul>
      <li *ngFor="let compte of client.comptes">
        {{ compte.bank_name }} - {{ compte.accountNumber }}
      </li>
    </ul>
  </div>
  </div>
</div>
</div>
<div class="rounded-t mb-0 px-4 py-3 border-0">
  <div class="flex flex-wrap items-center">
    <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
      <button class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button"  (click)="openEmailDialog(client.email)">Contacter Client</button>
      <button class="bg-red-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button"  (click)="goback()">Retourner</button>

    </div>
  </div>
</div>
<br>
  <mat-tab-group class="col-12">

    <mat-tab label="Historiques">

      <table class="class-12
      items-center w-full bg-transparent border-collapse">
        <thead class="thead-light">
        <tr>

          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Client
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            type        </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left min-w-140-px"
          >
            Date
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left min-w-140-px"
          >
            Montant
          </th>

        </tr>
        </thead>
        <tbody *ngFor="let i of dataSourceHistoriqueEnPage[numberPage-1]">
        <tr class="Hovring" >

          <th
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left"
          >
         {{getDisplayName(i) }}
          </th>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
          >
            {{i.type}}
          </td>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
          >{{getDate(i)}}</td>
          <td *ngIf="i.type==='DEPOSIT'" class=" text-emerald-500 border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
          >+{{i.amount}}</td>
          <td *ngIf="i.type==='WITHDRAWAL'" class=" text-red-500 border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
          >-{{i.amount}}</td>
          <td *ngIf="i.type==='VIREMENT' && i.idCompteSource.id==id" class=" text-red-500 border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
          >-{{i.amount}}</td>
          <td *ngIf="i.type==='VIREMENT' && i.idCompteSource.id!=id" class=" text-emerald-500 border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
          >+{{i.amount}}</td>






        </tr>

        </tbody>
      </table>
      <br>
      <br>
      <div
        style="     display: flex;
    justify-content: center;
    align-items: center;"  >
        <i class="fa fa-caret-left"  (click)="gobackHistorique()" *ngIf="numberPage>1"   aria-hidden="true" style="font-size: 25px"></i>
        <!--                    <div *ngFor="let row of datasources; let i = index">
        (click)="goback()"
        (click)="advance()"-->
        <input class="Index" type="number"  [value]="numberPage" [readOnly]="true" />
        <!--                        (click)="gothere(i)" *ngIf="i !== index"-->
        <br>
        <p style="    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;">  du {{this.dataSourceHistoriqueEnPage.length}}</p>
        <i class="fa fa-caret-right"   *ngIf="numberPage+1<=this.dataSourceHistoriqueEnPage.length" (click)="gofrontHistorique()  " aria-hidden="true" style="font-size: 25px"></i>
      </div>
      <br>
      <br>

    </mat-tab>

  </mat-tab-group>
</div>
