.client-details {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.client-details h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/*.detail-item {*/
/*  margin-bottom: 15px*/
/*}*/

.Index {
  height: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 5% !important;
}
@media (min-width :900px){

  .Index {
    width: 3% !important;
  }

}
img {
  max-width: 50%;
  height: auto;
}
