.header{
  margin-top: 20px;
  margin-left: 350px;
}

.container {
width: 700px;
display: flex;
justify-content: center;
align-items: center;
}

form {
  width: 500px;
  padding: 20px;
  border-radius: 5px;
}
