<div class="header">
  <h1>Make your Transaction</h1>
</div>
<mat-card class="container">
    <mat-card-content>
        <form class="example-form" #transactionForm="ngForm" (ngSubmit)="onCreate()">

            <mat-form-field class="example-full-width">
              <mat-label>Amount</mat-label>
              <input matInput type="text" placeholder="enter your amount" [(ngModel)]="TransactionObject.amount" name="amount" #amount="ngModel" required>
              <mat-error *ngIf="amount.errors?.['required']">Amount is required</mat-error>
            </mat-form-field><br>

              <mat-form-field class="example-full-width">
                <mat-label>ClientId</mat-label>
                <input matInput placeholder="enter your clientId" type="number" [(ngModel)]="TransactionObject.clientId" name="clientId" #clientId="ngModel" required>
                <mat-error *ngIf="clientId.errors?.['required']">ClientId is required</mat-error>
              </mat-form-field><br>

              <mat-form-field class="example-full-width">
              <mat-label>Type</mat-label>
              <mat-select [(ngModel)]="TransactionObject.type" name="type" #type="ngModel" required>
                <mat-option value="DEPOSIT">DEPOSIT</mat-option>
                <mat-option value="WITHDRAWAL">WITHDRAWAL</mat-option>
              </mat-select>
              <mat-error *ngIf="type.errors?.['required']">Type is required</mat-error>
            </mat-form-field><br>

            <mat-form-field class="example-full-width">
              <mat-label>Date_Expiration</mat-label>
              <input matInput [matDatepicker]="Date_Expiration" [(ngModel)]="TransactionObject.Date_Expiration" name="Date_Expiration">
              <mat-datepicker-toggle matSuffix [for]="Date_Expiration"></mat-datepicker-toggle>
              <mat-datepicker #Date_Expiration></mat-datepicker>
            </mat-form-field><br>

              <div>
                <button mat-raised-button color="primary" style="margin: 10px;" type="submit" [disabled]="transactionForm.form.invalid">Send</button>
              </div>
          </form>
    </mat-card-content>
  </mat-card>



